@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box; 
}
body {
    font-family: Roboto;
}
.container {
    max-width: 962px;
    margin: auto;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    width: 100%;
    background-size: cover;
    background-position: top center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-wrapper {
    display: flex;
    align-items: center;
    padding: 16px auto;
}
.auth {
    margin-left: auto;
}
.login {
    padding: 14px 20px;
    background-color: transparent;
    color: #262626;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    transition: .3s ease all;
}
.login:hover {
    border-radius: 25px;
    border: 1px solid #57AD56;
    background-color: #57AD56;
    color: #FFF;
    transition: .3s ease all;
}
.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-bottom: 2px;
    margin-top: 56px;
    border-bottom: 1px solid #979797;
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}
.search-input:active {
    outline:none;

}
.restaurants {
    margin-top: 56px;
    margin-bottom: 80px;
}
.restaurants-h2 {
    color: #1D1D1D;
    font-size: 22px;
    line-height: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    padding: 0;
}
.restaurants-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.restauran-card {
    width: 306px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}
.restauran-card:hover {
    background-color: rgba(46, 46, 46, 0.04);
}
.restauran-img {
    max-width: 100%;
    margin-bottom: 16px;
}
.restaurant-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    margin: 0 0 4px 0;
}
.restaurant-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin: 0 0 4px 0;
}
.restaurant-time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
    margin: 0 0 20px 0;
}
.footer {
    background-color: #262626;
}
.white-logo {
    display: block;
    padding: 56px 0 40px 0;
}
#line {
    width: 956px;
    height: 1px;
    background-color: #979797;
}
.line-1 {
    margin-bottom: 32px;
}
.form-select {
    width: 227px;
    height: 40px;
    background-color: #3B3B3B;
}
.uber-eats {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.green-text {
    color:#49A144;
}
